.sidebar {
  overflow: scroll;
  float: right;
  height: 88vh;
  width: 23vw;
}

.submit-form {
  position: absolute;
  width: 450px;
  height: auto;
  display: none;
  z-index: 1101;
  top: 10%;
  left: 30%;
}

.footer, .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.footer {
  margin-top: 20px;
}

.submit-form .title, .submit-form .MuiFormControl-root {
  margin: 0px 5px;
}

.submit-form .MuiSelect-selectMenu {
  min-width: 130px;
  padding: 6px 0px 7px;
}

.submit-form .MuiPaper-root {
  padding: 15px;
}