.sidebar {
  overflow: scroll;
  float: right;
  height: 88vh;
  width: 23vw;
}

.submit-form {
  border: 1px solid black;
  position: fixed;
  width: 400px;
  height: auto;
  display: none;
  z-index: 4;
  border-radius: 5px;
  background-color: white;
  top: 12%;
  left: 30%;
  padding: 15px;
}

.submit-form .footer, .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.submit-form .footer {
  margin-top: 20px;
}

.submit-form .MuiSelect-selectMenu {
  width: 120px;
}