.main {
  padding: 20px;
}

.topbar {
  border: 1px solid black;
  height: 80px;
  font-size: 2em;
  margin-bottom: 10px;
  padding: 20px;
}

.topbar button {
  font-size: 1em;
  float: right;
}

.sidebar {
  overflow: scroll;
  border: 1px solid black;
  float: right;
  height: 600px;
  width: 20%
}

.report {
  border: 1px solid black;
  margin: 4px;
  padding: 2px;
}

.submit-form {
  border: 1px solid black;
  position: fixed;
  width: auto;
  height: auto;
  display: none;
  z-index: 3;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 1.5em;
  left: 30%;
}